$primaryColor: hsl(158, 36%, 37%);
$secondaryColor: hsl(30, 38%, 92%);
$color_darkBlue: hsl(212, 21%, 14%);
$color_darkGrayish: hsl(228, 12%, 48%);
$color_white: hsl(0, 0%, 100%);
$color_aquamarine: rgba(26, 64, 50, 1);
