// Primary
$PrimaryColorA: hsl(263, 55%, 52%);
$PrimaryColorB: hsl(219, 19%, 35%);
$PrimaryColorC: hsl(217, 30%, 14%);

//Tints
$TintsColorAGraphic: hsl(264, 84%, 70%);
$TintsColorAText: hsl(265, 72%, 74%);

//Accents
$AccentColorA: hsl(0, 0%, 99%);
$AccentColorB: hsl(0, 0%, 90%);
$AccentColorC: hsl(0, 0%, 95%);

//Background
$BackGroundColor: hsl(213, 44%, 95%);

// Greys
$DarkGreyA: hsl(215, 11%, 34%);
$DarkGreyB: hsl(215, 11%, 60%);
$LightGrayA: hsl(219, 29%, 82%);
$LightGrayB: hsl(208, 100%, 97%);
