* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 0.125rem dotted rgb(26, 64, 50);
  outline-offset: 0.125rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "montserrat", sans-serif;
  min-width: 23.4375rem;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  margin: 1.75rem auto;
}
}
body .card {
  max-width: 21.4375rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  overflow: hidden;
}
@media (min-width: 601px) {
  body .card {
    max-width: 37.5rem;
    flex-direction: row;
  }
}
body .card .card_image {
  max-width: 21.4375rem;
  height: 15rem;
}
@media (min-width: 601px) {
  body .card .card_image {
    max-width: 18.75rem;
    height: 28.375rem;
  }
}
body .card .card_image img {
  width: 100%;
  height: 100%;
}
body .card .card_content {
  display: flex;
  max-width: 21.4375rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
}
@media (min-width: 601px) {
  body .card .card_content {
    max-width: 18.75rem;
    padding: 2rem;
  }
}
body .card .card_content .card_subtitle {
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  margin-bottom: 0.75rem;
}
body .card .card_content .card_title {
  font-family: "fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body .card .card_content .card_description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1.125rem;
}
body .card .card_content .card_price {
  display: flex;
  width: 100%;
  margin-bottom: 1.125rem;
}
body .card .card_content .card_price .price_discount {
  font-family: "fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  margin-bottom: 1rem;
}
body .card .card_content .card_price .price_original {
  font-size: 0.8125rem;
  color: hsl(158, 36%, 37%);
  color: hsl(228, 12%, 48%);
  align-items: center;
  text-decoration: line-through;
  align-self: center;
  margin-left: 1.1875rem;
  margin-bottom: 1rem;
}
body .card .card_content .card_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.4375rem;
  height: 3rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  border-radius: 0.3125rem;
  transition: transform 0.1s ease;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
@media (min-width: 601px) {
  body .card .card_content .card_button {
    width: 14.75rem;
  }
}
body .card .card_content .card_button:hover {
  background-color: rgb(26, 64, 50);
}
body .card .card_content .card_button:active {
  transform: scale(0.98);
}
body .card .card_content .card_button ul {
  list-style-type: none;
  padding-left: 0;
}
body .card .card_content .card_button ul li {
  display: flex;
  align-items: center;
}
body .card .card_content .card_button ul li img {
  margin-right: 0.3125rem;
}
body .card .card_content .card_button ul a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 150%;
  color: hsl(0, 0%, 100%);
  width: 100%;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 0.625rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=index.css.map */
