$font-path: "/assets/fonts/";
$font-family: "Figtree";

$primaryColor: hsl(47, 88%, 63%);
$secondary-color: hsl(0, 0%, 7%);
$tertiary-color: hsl(0, 0%, 100%);
$quaternary-color: hsl(0, 0%, 50%);
$quinary-color: hsl(228, 45%, 44%);

$shadow: rgba(0, 0, 0, 0.534);
