$font-path: "/assets/fonts/";
$font-family: "Inter";

$color_primary: hsl(75, 94%, 57%);
$color_background_body: hsl(0, 0%, 8%);
$color_background_card: hsl(0, 0%, 12%);
$color_background_button: hsl(0, 0%, 20%);

$color_text_body: hsl(0, 0%, 100%);
$color_text_buttom_active: hsl(0, 0%, 12%);
