// Primary
$PrimaryColorA: hsl(0, 78%, 62%);
$PrimaryColorB: hsl(180, 62%, 55%);
$PrimaryColorC: hsl(34, 97%, 64%);
$PrimaryColorD: hsl(212, 86%, 64%);

//Background
$BackGroundColor: rgb(246, 244, 244);
$BackGroundCard: #ffffff;

// Neutral - Greys
$DarkBlue: hsl(234, 12%, 34%);
$LightGray: hsl(0, 0%, 98%);

$TitleColor: #5a5c6a;
$DescriptionColor: #a7a8ac;
