$White: hsl(0, 0%, 100%);
$primaryColor: hsl(212, 45%, 89%);
$terciarycolor: hsl(220, 15%, 55%);
$secundaryColor: hsl(218, 44%, 22%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Outfit", sans-serif;
  background-color: $primaryColor;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  max-width: 87.5rem;
  width: 100%;
  min-height: 100vh;

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    max-height: 31.0625rem;
    background-color: $White;
    border-radius: 5%;
    margin-bottom: 1rem;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 18rem;
      max-height: 18rem;
      margin-top: 1.875rem;
    }

    .image-container img {
      max-width: 100%;
      border-radius: 5%;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.875rem 2.1875rem;
      text-align: center;

      .title {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: $secundaryColor;
      }

      .first-paragraph {
        font-size: 0.9375rem;
        font-weight: 400;
        color: $terciarycolor;
      }
    }
  }

  .attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}
